.section1{
    width: 100%;
    height: 121.7vh;
    display: flex;
}
.col-left, .col-right{
    width: 50%;
    height: 100%;
    position: relative;
}
.col-right img{
    position: absolute;
    top: 15.2%;
    left: -11%;
    width: 25.4vh;
    height: 30.5vh;
    z-index: 2;
}
.col-right video{
    position: absolute;
    object-fit: cover;
    height: 121.7vh;
    width: 100%;
    display: block;
    z-index: 1;
}
.col-right .empty{
    position: absolute;
    top: calc(121.7vh - 16.5vh);
    left: -100%;
    width: 200%;
    height: 16.5vh;
    background-color: #333333;
}
.col-left .vert-stack{
    width: 76.9%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 18.7%;
    left: 5.8%;
}
.col-left .vert-stack h2{
    font-size: 6rem;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    color: #333333;
    line-height: .95;
    margin-bottom: 7.1%;
}
.col-left .vert-stack h2 span{
    font-size: 7rem;
    font-family: "Yellowtail", cursive;
    font-weight: 800;
    font-style: normal;
}
.col-left .vert-stack p{
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 76.4%;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 14px;
}

.col-left .vert-stack button{
    width: 183px;
    height: 43px;
    background-color: #333333;
    border-radius: 40px;
    border: none;
    color: #FFFFFF;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.27rem;
}


.section2{
    width:100%;
    height:100.7vh;
}
.upper-part{
    height:60.5vh;
    background-color: #333333;
    position: relative;
}
.upper-part h1{
    font-size: 8rem;
    color: white;
    padding:2rem 4rem 2rem 8rem;

}
.upper-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.upper-content div{
    width:50%;


}
.upper-content video{
    position: absolute;
    top:10%;
    left: 8%;
    width: 60.4vh;
    height: 110.4vh;
    z-index: 2;
}
.upper-content .content{
    width:50%;
    padding:0 5rem 0 5rem;
    color:white;
    font-size: 25px;
}

.lower-part{
     font-size: 3rem;
     float: right;
     padding:4rem 1rem 0rem 2rem;
     font-family: "Yellowtail", cursive;
     font-weight: 500;
     font-style: italic;
     color:#333333;
}



.section3{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    margin:0rem 0rem 12rem 0rem;

}
.section3 .left-content , .right-content{
    width:50%;
}
.left-content .heading h1{
    font-size: 120px;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: #333333;
    padding:0rem 0rem 2rem 4rem;
}

.left-content .service-content
{
    color:#333333;
    font-size: 22px;
    padding:1rem 1rem 0.2rem 3rem;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}

.left-content .info{
    color: #333333;
    font-size:3rem ;
    font-family: "Wix Madefor display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.weather-img{
    width:700px;
    height:800px; 
    margin: 4rem 2rem 1rem 1rem;
    padding: 3rem 2rem 1rem 3rem;
}
.right-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:10rem;
}

.img-first img, .img-second img{
    width:700px;
    height:600px;
}
.right-content .firstd , .secondd{
    color: #333333;
    font-size:3rem ;
    font-family: "Wix Madefor display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    position: absolute;
    top:40%;
}
.right-content .secondd{
    position:absolute;
    top:95%;
}

.section4{
    width:100%;
    height:26rem;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.section4 h1{
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
}
.section4 .we-img{
    position: absolute;
    top:-20%;
    left:30%;
    
}
.section4 h1{
    font-family: "Wix Madefor display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;    
    font-size: 3.2rem;
    float: left;
}
.section4 .h{
    padding:4rem 4rem 0rem 4rem;
}
.section4 .center{
    padding:0rem 4rem 0rem 4rem;
    text-align : center;
}
.weimg img{
   float: right;
   padding-right:6rem;
   /* padding-bottom: ; */
}
.weimg img{
    width:300px;
    height:150px;
}