.section1{
    width: 100%;
    height: 121.7vh;
    display: flex;
}
.col-left, .col-right{
    width: 50%;
    height: 100%;
    position: relative;
}
.col-right img{
    position: absolute;
    top: 15.2%;
    left: -11%;
    width: 25.4vh;
    height: 30.5vh;
    z-index: 2;
}
.col-right video{
    position: absolute;
    object-fit: cover;
    height: 121.7vh;
    width: 100%;
    display: block;
    z-index: 1;
}
.col-right .empty{
    position: absolute;
    top: calc(121.7vh - 16.5vh);
    left: -100%;
    width: 200%;
    height: 16.5vh;
    background-color: #333333;
}
.col-left .vert-stack{
    width: 76.9%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 18.7%;
    left: 5.8%;
}
.col-left .vert-stack h2{
    font-size: 6rem;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    color: #333333;
    line-height: .95;
    margin-bottom: 7.1%;
}
.col-left .vert-stack h2 span{
    font-size: 7rem;
    font-family: "Yellowtail", cursive;
    font-weight: 800;
    font-style: normal;
}
.col-left .vert-stack p{
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 76.4%;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #333333;
    margin-bottom: 14px;
}

.col-left .vert-stack button{
    width: 183px;
    height: 43px;
    background-color: #333333;
    border-radius: 40px;
    border: none;
    color: #FFFFFF;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.27rem;
}


.section2{
    width:100%;
    height:121.7vh;
}
.upper-part{
    height:60.5vh;
    background-color: #333333;
    position: relative;
}
.upper-part h1{
    font-size: 8rem;
    color: white;
    padding:2rem 4rem 2rem 8rem;

}
.upper-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.upper-content div{
    width:50%;


}
.upper-content video{
    position: absolute;
    top:-10%;
    left: 8%;
    width: 70.4vh;
    height: 120.4vh;
    z-index: 2;
}
.upper-content .content{
    width:50%;
    padding:0 5rem 0 5rem;
    color:white;
    font-size: 25px;
}

.lower-part{
     font-size: 3rem;
     float: right;
     padding:4rem 1rem 3rem 2rem;
     font-family: "Yellowtail", cursive;
     font-weight: 500;
     font-style: italic;
     color:#333333;
}

.section5{
    width:100%;
    height:12rem;
    background-color: #333333;

}

.section5 h1{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.h{
    float: left;
}
.center{
    text-align : center;
}
