.footer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding: 3.5% 4%;
    height: 80vh;
    position: relative;
}
.logoShow{
    position: absolute;
    font-size: 12rem;
    color:#333333;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    float: left;
    text-align: center;

}
.logoShow span{
    font-family: "Yellowtail", cursive;
    font-size: 14rem;
    font-weight: 800;
    font-style: normal;
}
.footer-section{
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 42vh;
    padding: 0 6%;
    

}
.first{
    width:40%;
    margin:20px;
    
}
.second{
    width:20%;
    margin:20px;


}
.second h4 , .third h4 , .fourth h4 {
    font-size: 25px;
    font-weight: 800;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333333;
    margin-bottom: 25px;
}
 .first p , .second p , .third p , .fourth p{
    font-size: 1rem;;
    color: #333333;
    font-family: 'Wix Madefor Text', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    width: 90%;
    
}
.third{
    width:20%;
    margin:20px;
}
.fourth{
    width:20%;
    margin:20px;

}

.www{
    position: absolute;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 14px;
    top: 75vh;
    color:#333333

}
